.home {
    width: 100%;
    display: flex;
    flex-direction: column;

    section.topic-search {
        width: 100%;
        background-color: rgba(128, 128, 128, 0.145);
        display: flex;
        justify-content: center;
    }

    section:has(h1){
        text-align: center;
    }

    section.topics-list {
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 12px;
        width: 100%;
        margin: 0 auto;
    }

    section.error {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;

        div {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}

@media screen and (min-width: 820px){
    .home {
        section.topic-search {
            align-self: flex-start;
        }
        section.topics-list {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (min-width: 980px){
    .home {
        section.topics-list {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}