header {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.258);

    nav {
        img {
            cursor: pointer;
        }
    }
}