* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;

}
body {
    margin: 0;
    padding: 0;
}

.App {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



$primary-color: #B22737;

@import './styles/home';
@import './styles/navbar';
@import './styles/topics-list';
@import './styles/topic-item';
@import './styles/topic-search';
@import './styles/loading-skeleton';

